body{
    background-color:skyblue;

}

h1{
    color: black;
    text-align: center;
}
.para{
    background-color: black;
    color:white;
    width:10%;
  text-align: center;
}

#boom{
    background-color: red;
    color: white;
    font : solid bold ;
    font-size: 25px;
    width:10%;
}